<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div align="center">
<h1>Bienvenido a Parejas Mundialistas</h1>

<form action="/seleciona_pareja" method="post">
	<input type="submit" value="Iniciar">
</form>
</div>
</body>
</html>