<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div align="center">
		<h1 align="center">Selecciona tu pareja</h1>
		
			<form action="/verificar" method="post">
				<select name="Ficha1">
					<option default>Selecciona</option>
					<option value="a">James</option>
					<option value="b">Ronaldo</option>
					<option value="c">Messi</option>
				</select>
				<select name="Ficha2">
					<option default>Selecciona</option>
					<option value="a">Colombia</option>
					<option value="b">Portugal</option>
					<option value="c">Argentina</option>
				</select>
				<input type="submit" value="Verificar">
			</form>
			<h2><%= session['validacion'] %></h2>
			<h2>Intentos Fallidos: <%= session['errores'] %></h2>
	</div>
</body>
</html>