<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Selecciona tu pareja</h1>
	<h1>James - Colombia</h1>
	<form action="/verificar" method="post">
		<input type="text" name="Ficha1">
		<input type="text" name="Ficha2">
		<input type="submit" value="Verificar">
	</form>
</body>
</html>