<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div align="center">
		<h1 align="center">Selecciona tu pareja</h1>
		<h1>James - Colombia</h1>
			<form action="/verificar" method="post">
				<select name="Ficha1">
					<option value="James">James</option>
				</select>
				<select name="Ficha2">
					<option value="Colombia">Colombia</option>
				</select>
				<input type="submit" value="Verificar">
			</form>
			<h2><%= session['validacion'] %></h2>
	</div>
</body>
</html>